<div class="container">

  <h1 class="text-center"><i>Book an Appointment</i></h1>
  <h4 class="text-center"><i>Our Investing Topics</i></h4>
  <br/>
  <h2 class="text-center"><i>Pick a topic, then we'll find a time and place</i></h2>
  <br/>
  <div class="row">
    <div *ngFor="let button of buttons" class="col-sm-12 col-md-6">
        <button type="button" class="btn btn-td">{{button.text}}</button>
      
    </div>
  </div>
  <br/>
  <div class="text-center">
      <a routerLink="/home">< Return to previous screen</a>

  </div>
</div>

